.current_page_item a {
font-size: 20px;
font-weight: bold;
}
.contact-input{
background: none!important;
border: none!important;
border-bottom: 1px solid #ccc !important;
margin-bottom: 15px;
}
.contact-submit{
background: #f9d608!important;
border-radius: 44px!important;
padding-top: 18px!important;
padding-bottom: 18px!important;
padding-left: 63px!important;
padding-right: 63px!important;
font-size: 1.2rem!important;
font-family: 'Montserrat',sans-serif!important;
font-weight: 400!important;
}
.apply-css a:hover,
.contact-submit:hover{
background: #177c18!important;
}
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-content {
border-style: none!important;
}
.apply-css a{
background: #f9d608!important;
border-radius: 44px!important;
padding-top: 18px!important;
padding-bottom: 18px!important;
padding-left: 26px!important;
padding-right: 26px!important;
font-size: 1.2rem!important;
font-family: 'Montserrat',sans-serif!important;
font-weight: 400!important;
color: #fff!important;
}
.titulos-margin{
margin-top: -88px;
}